

.timeline
{
    position: relative;
    max-width: 100%;
}

.date
{
    position: absolute;
    top: -20px;
    left: 0px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    place-items:  center;
    font-size: 14px;

}
.container
{
    padding: 1vw 3.2vw;
    position: relative;
    width: 50%;
    z-index: 1;
}



.text-box{
    padding: 1vh 1vw;
    background:  white;
    position: relative;
    border-radius: 2vh;
    border-style: solid;
    border-width: 0.25vh;
    border-color: #6aa4e6;
    
}


.left-container
{
    left:0;
}

.right-container
{
    left:50%;
}

.container img
{
    position: absolute;
    width: 4.5vw;
    border-radius: 50%;
    background-color: white;
    right: -4.75%;
    top: 2vw;
    z-index: 5;
    box-shadow: 5px 5px 10px;

}

.container img:hover
{
    cursor: pointer;
    background-color: white;
    transition: 0.8s;
    scale: 1.2;
}

.right-container img
{
    left: -4.75%;
    box-shadow: 5px 5px 10px;
}

.right-container img:hover
{
    cursor: pointer;
    

}

.timeline::after
{
   
    content:'';
    position: absolute;
    width: 3px;
    height: 100%;
    background: #6aa4e6;
    bottom: 0;
    left:50%;
    margin-left: -3px;

}



.left-container-arrow
{
    height: 0;
    width: 0;
    position: absolute;
    top: 2.4vw;
    z-index: 1;
    border-top: 0.8vw solid transparent;
    border-bottom: 0.8vw solid transparent;
    border-left: 0.8vw solid #6aa4e6;
    right: -0.8vw;
}



.right-container-arrow
{
    height: 0;
    width: 0;
    position: absolute;
    top: 2.4vw;
    z-index: 1;
    border-top: 0.8vw solid transparent;
    border-bottom: 0.8vw solid transparent;
    border-right: 0.8vw solid #6aa4e6;
    left: -0.8vw;
}

@media screen and (max-width: 900px)
{
    .text-box{
        padding: 1.5vh 2vw;
    }
    
    .timeline::after
    {
        left: 4vw;
    }

    .container
    {
        width: 100%;
        padding-top: 2vh;
        padding-bottom: 1vh;
        padding-left: 11vw;
        padding-right: 0vw;

    }
    .container img
{

    position: absolute;
    width: 10vw;
    top: 6vw;
    left: -1.8vw;
    z-index: 289;
    box-shadow: 2px 1px 1px;

}

.container img:hover
{
    cursor: pointer;
}


    .right-container 
    {
        left: 0;
    }

 

    .left-container-arrow, .right-container-arrow
    {  




        border-top: 3vw solid transparent;
        border-bottom: 3vw solid transparent;
        border-right: 3vw solid #6aa4e6;
        border-left: 0;

        top: 4vw;
        
        left: -3vw;

    }

}